* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: medium-content-sans-serif-font, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}
/*styling the layout*/
#header {
    background-color: #f6f6f6;
    color: #000;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #a6001a;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.branding {
    float: left;
    margin: 10px;
}
.highlight {
    background-color: #a6001a;
    font-family: Mija;
    border-radius: 3px;
    padding: 5px;
    font-size: 40px;
    color: #ffffff;
}
.nav-menu {
    float: right;
    margin: 10px;
}
.nav-menu ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.nav-menu li {
    border-radius: 10px;
    border: 1px solid #000;
    display: inline;
    color: #000000;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
}
.nav-menu li:hover {
    background-color: #1F618D;
    color: #fff;
}
.nav-menu a {
    text-decoration: none;
    color: #000000;
}
.form-content {
    padding: 10px;
}
.form-content input[type=text], input[type=email], input[type=submit], input[type=password], select {
    padding: 5px;
    margin: 5px;
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    margin: auto;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
th {
    border-bottom: 1px solid #fff;
}
thead {
    padding: 8px;
    background: #1F618D;
    font-size: 16px;
    color: #fff;
}
tbody {
    border: 1px solid #1F618D;
}
table {
    width: 100%;
}
.off-edit{
    padding: 10px;
    border:none;
    width: 80px;
    background: #29AB87;
    color:#fff;
    border-radius:10px;
}
.del{
    padding: 10px;
    border:none;
    width: 80px;
    background: #DC143C;
    color:#fff;
    border-radius:10px;
}
.form-title {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 10px auto;
}
.form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
}
#content {
    background-color: #ffffff;
    margin: 0 auto;
    min-height: 600px;
}
#content::before {
    content: "";
    clear: both;
    display: table;
}
#content::after {
    content: "";
    clear: both;
    display: table;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #f4f4f4;
    color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.sidebar li:hover {
    background-color: #1F618D;
    color: #fff;
}
.sidebar a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
#footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    font-weight: normal;
}
/*Media Queries*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
/* The Modal (background) */
.modal {
    display: none;
   /* Hidden by default */
    position: fixed;
   /* Stay in place */
    z-index: 1;
   /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
   /* Full width */
    height: 100%;
   /* Full height */
    overflow: auto;
   /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
   /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-office {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 10px auto;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
   /* For tablets: */
    .col-s-1 {
        width: 8.33%;
   }
    .col-s-2 {
        width: 16.66%;
   }
    .col-s-3 {
        width: 25%;
   }
    .col-s-4 {
        width: 33.33%;
   }
    .col-s-5 {
        width: 41.66%;
   }
    .col-s-6 {
        width: 50%;
   }
    .col-s-7 {
        width: 58.33%;
   }
    .col-s-8 {
        width: 66.66%;
   }
    .col-s-9 {
        width: 75%;
   }
    .col-s-10 {
        width: 83.33%;
   }
    .col-s-11 {
        width: 91.66%;
   }
    .col-s-12 {
        width: 100%;
   }
}
@media only screen and (min-width: 768px) {
   /* For desktop: */
    .col-1 {
        width: 8.33%;
   }
    .col-2 {
        width: 16.66%;
   }
    .col-3 {
        width: 25%;
   }
    .col-4 {
        width: 33.33%;
   }
    .col-5 {
        width: 41.66%;
   }
    .col-6 {
        width: 50%;
   }
    .col-7 {
        width: 58.33%;
   }
    .col-8 {
        width: 66.66%;
   }
    .col-9 {
        width: 75%;
   }
    .col-10 {
        width: 83.33%;
   }
    .col-11 {
        width: 91.66%;
   }
    .col-12 {
        width: 100%;
   }
}
